.sb {
  display: flex;
  flex-direction: column;
  a {
    color: white;
    font-size: 15px;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  a {
    margin-bottom: 12px;
  }
}

.item {
  margin-top: 12px;
  a {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }
}
.action {
  padding: 20px;
  a {
    margin-right: 20px;
    font-size: 14px;
  }
}
