.card-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
}